.footer-logo {
  max-height: 6.68rem;
}
.info-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto Mono";

  font-size: 12px;
}
.info {
  font-family: "Roboto Mono";
  margin-top: auto;
  font-size: 12px;
}
@media (max-width: 767px) {
  .footer-logo {
    max-height: 80px;
  }
  .info-col {
    font-size: 11px;
    align-items: end;
  }
}
@media (max-width: 400px) {
  .footer-logo {
    max-height: 60px;
  }
  .info-col {
    font-size: 11px;
  }
}
