@import "./components/header";
@import "./components/herosection";
@import "./components/footer";
@import "./components/typography";
@import "./components/card";
@import "./components/lightbox";

.home-page {
  max-width: 100vw;
  max-height: calc(100vh - 48px);
}
.body {
  max-width: 1920px;
}
.fs-13 {
  font-size: 13px;
}
.d-flex-col {
  display: flex;
  flex-direction: column;
}
.btnup {
  filter: drop-shadow(-5px 1px 0px white);
  position: fixed;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
}

.menu-icon {
  cursor: pointer;
  // select: none;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.menu-icon:hover {
  background-color: #e0e0e0;
}

.line {
  transition: all 0.3s ease;
}

.menu-icon.animate .line-1 {
  transform: translateY(6px) rotate(45deg);
  transform-origin: center;
}

.menu-icon.animate .line-2 {
  opacity: 0;
}

.menu-icon.animate .line-3 {
  transform: translateY(-6px) rotate(-45deg);
  transform-origin: center;
}
